$div-color: steelblue;
$p-background-color: green;
$li-font-size: 2rem;

#variables div {
  color: $div-color;
}

#variables li {
  font-size: $li-font-size;
}

#variables p {
  background-color: $p-background-color;
}
